<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>

    <link rel="stylesheet" href="assets/styles/bootstrap.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="assets/styles/bootstrap-icons.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="assets/styles/aos.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="assets/styles/custom.css" media="print" onload="this.media='all'">
    <link rel="shortcut icon" href="icons/win-icons.ico" type="image/x-icon"/>

    <noscript>
        <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
        <link rel="stylesheet" href="assets/styles/bootstrap-icons.min.css">
        <link rel="stylesheet" href="assets/styles/aos.css">
        <link rel="stylesheet" href="assets/styles/custom.css">
    </noscript>

    <style>
        .spinner {
            width:8rem;
            height:8rem;
            border:0.5rem solid #ccc;
            border-top-color:#000;
            border-radius:50%;
            animation:spin 1s linear infinite;
        }
        @keyframes spin {
            to {transform:rotate(360deg);}
        }
    </style>

</head>

<body class="px-2 px-xxl-0">
    
    <%- include("preloader") %>
    <div id="root" style="display: none=;">
        <%- include("modules/search-modal.ejs") %>
        <%- include("modal/show-connect") %>
        <%- include("modal/preview-image") %>
    <%- body %>
    </div>

    <!-- скрипты с defer, плюс наша логика -->
    <script src="assets/scripts/bootstrap.bundle.min.js" defer></script>
    <script src="assets/scripts/aos.js" defer></script>
    <script src="assets/scripts/qrcode.js" defer></script>

</body>

</html>